.group {
  width: 100%;

  // position: relative;
  .input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #15132e;
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    padding: 20px;
    z-index: 10000;
  }
  .input::placeholder {
    color: rgb(174, 171, 216);
  }
  label {
		font-size: 16px;
    margin-top: 20px;
    color: rgb(174, 171, 216);
		line-height: 25px;
  }
}
